<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cadastro de Usuario</title>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav class="red darken-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/">Home</a>
                    <a href="./login">Logar</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s12 m4 offset-m4">
                <form action="/adduser" method="post">
                    <div class="card">
                        <div class="card-content">
                            <label class="text-center title-1"> Cadastro de Usu&aacute;rio </label>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="nome" name="nome" type="text" class="validate require" required>
                                    <label for="login">Nome</label>
                                    <span class="helper-text" data-error="Nome inv치lido"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="usuario" name="usuario" type="text" class="validate require" required>
                                    <label for="usuario">Usuario</label>
                                    <span class="helper-text" data-error="usuario inv치lido"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="senha" name="senha" type="password" class="validate require" required>
                                    <label for="senha">Senha</label>
                                    <span class="helper-text" data-error="Senha inv치lida"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate require" required>
                                    <label for="email">Email</label>
                                    <span class="helper-text" data-error="Email inv치lido"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-teal btn-flat" href="./login">Cancelar</a>
                            <button class="btn waves-effect waves-light btn-login" type="submit" id="Salvar">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</body>

</html>